    <div class="container">
      <div class="starter-template">
        <h1>Android: Netrunner Tabletop Deck Maker</h1>
        <p class="lead">Input your decklist below as exported from netrunnerdb using the export -> markdown function (maybe lel)</p>
        
        <textarea id="deck_list" required="required" rows="10" cols="100"></textarea><br />
        <input type="button" value="Generate Tabletop Image" id="generate" class="coolButton" />
        <div id="response">use AJAX and link to result here (put a loading thing here while it goes down)</div>
      </div>
    </div>


<script type="text/javascript">
$(document).ready(function()
{
    $("#generate").click(function()
    {
    	// This function is called when the button is pressed.
        var decklist_text = $('textarea#deck_list').val();

        $.ajax(
        {
            type: 'POST',
            url: '/buildimage',
            data: {dl_txt: decklist_text},
            success: function(result)
            {
                $("#response").html(result);  // Won't work atm, /buildimage does nothing (it logs the request data hopefully)
            },
            error: function(jqXHR, textStatus, err) {
            	$("#response").html('Error in buildimage');
            }
        });
    });
});
</script>