    <div class="container">
      <div id="inputMode" class="starter-template">
        <h1>Android: Netrunner Tabletop Deck Maker</h1>
        <p class="lead">Input your decklist below as exported from netrunnerdb using the export -> markdown function (maybe lel)</p>
        <p class="lead" id="errorMessage">An error has occured.  Please try again later.</p>
        
        <textarea id="deck_list" class="form-control" required="required" rows="12"></textarea><br />
        <input type="button" value="Generate Tabletop Image" id="generate" class="btn btn-default" />
      </div>
      <div id="responseMode" class="starter-template">
        <div id="response"></div>
        <input type="button" value="Return" id="return" class="btn btn-default" />
      </div>
    </div>


<script type="text/javascript">
$(document).ready(function()
{
    $("#generate").click(function()
    {
    	// This function is called when the button is pressed.
        var decklist_text = $('textarea#deck_list').val();

        $.ajax(
        {
            type: 'POST',
            url: '/buildimage',
            data: {dl_txt: decklist_text},
            success: function(result)
            {
                $('#errorMessage').hide();
                $('#inputMode').hide();
                $("#response").html(result);
                $('#responseMode').show();
            },
            error: function(jqXHR, textStatus, err) {
            	$("#errorMessage").show();
            }
        });
    });
    $('#return').click(function()
    {
        $('#responseMode').hide();
        $('#inputMode').show();
    });
});
</script>