<div class="starter-template">
<h1>Sundew Test Page</h1>
You probably shouldn't be here! :) If you're not a dev, please click Home above!<br />
<input type="button" value="Upload The Shadow!" id='upload' class="btn btn-default" /><br />
<div id="response"></div>
</div>

<script type="text/javascript">
$(document).ready(function()
{
    $("#upload").click(function()
    {
        $.ajax(
        {
            type: 'POST',
            url: '/performtest',
            dataType: 'text',
            success: function(result) {
            	console.log("Successfully uploaded to " + result);
                $("#response").html('<a href="' + result + '" target="_blank">' + result + '</a>');
            },
            error: function(jqXHR, textStatus, err) {
            	//Something went wrong
            	console.log("Error: " + textStatus + ' ' + err);
            }
        });
    });
});
</script>